/*.navbar {
	position: fixed;
}

.logo {
	width: 100px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #DD5900;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: rgba(8, 8, 8, 0);
}

.navbar-nav>li>a {
	padding-top: 6px;
	padding-bottom: 15px;
	padding-left: 94px;
	padding-right: 0px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -32px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: ;
    background-color: #222;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #DD5900;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #DD5900;
    white-space: nowrap;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:focus, a:hover {
    color: #dd530c;
    text-decoration: underline;*/


    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    }


    header{
        color: #DD5900;
        background-color: #333;
        padding-top: 8px;
        padding-bottom: 8px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.57);

    }

    .logo {
        width: 80px;

    }
    
    .title{
        color: #DD5900;
        margin-top: 4px;
    }

    .overlay-bg,
    .yellow-overlay {
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0
    }

    .form-control,
    .form-control:focus,
    .progress,
    .progress-bar {
        box-shadow: none
    }

    body {
        font-size: 16px;
        font-weight: 400
    }

    body,
    html {
        height: 100%
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;

        margin: 0;
    }


    .form-control,
    blockquote,
    p {
        font-size: 12px;
    }

    p {
        color: grey;
    }

    a {
        color: #3F51B5;
        -webkit-transition: all .3s ease;
        -ms-transition: all.3sease;
        -o-transition: all.3sease;
        -moz-transition: all.3sease;
        transition: all.3sease
    }

    a:active,
    a:focus,
    a:hover {
        color: #FF3B3B;
        text-decoration: none
    }

    blockquote {
        color: #999;
        background-color: #262626
    }

    blockquote span {
        color: #FFEB3B
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

    .form-control {
        background-color: transparent;
        border: none;
        color: grey;
        border-radius: 0
    }

    body {
        background-repeat: repeat;
        background-size: cover;
        background-image: url(../img/projects/bg.jpg);;
    }


    /*HOVER EFFECT*/


.hovereffect {
  width: 400px;
  height: 214px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 400px;
  height: 214px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.33);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(221, 89, 0, 0.43);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 11px 0 0 0;
  padding: 71px 181px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.m-top{
    margin-top: 50px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.57);
    border-radius: 15px;
}



.botonera {
  margin-left: 143px;
}

